#python==3.9.25
streamlit==1.50.0
aiohttp==3.13.2
numpy==2.0.2
openai==2.8.1
pandas==2.3.3
pydantic==22.12.5
pydantic_core==22.41.5
pydantic-settings==22.11.0
PyPDF==223.0.1
python-multipart==20.0.20
scikit-learn==21.6.1
starlette==20.49.3
uvicorn==0.38.0
fastapi==0.123.0
